# joplin.container
[Container]
ContainerName=joplin
Image=docker.io/joplin/server
EnvironmentFile=/var/lib/orches/repo/joplin/.env
PublishPort=22300:22300
Network=joplin.network

[Service]
Restart=unless-stopped
X-Version=1

[Install]
WantedBy=multi-user.target default.target