# joplindb.container
[Container]
ContainerName=joplindb
Image=docker.io/library/postgres:16
EnvironmentFile=/var/lib/orches/repo/joplin/.env
Volume=/mnt/fast/data/joplindb:/var/lib/postgresql/data:Z
PublishPort=5432:5432
Network=joplin.network

[Service]
Restart=on-failure
X-Version=1
