# gotenberg.container
[Container]
ContainerName=gotenberg
Image=docker.io/gotenberg/gotenberg:8.20
Exec=gotenberg --chromium-disable-javascript=true --chromium-allow-list=file:///tmp/.*
Network=paperless.network

[Service]
Restart=unless-stopped
X-Version=1
