[Unit]
Description=Plex
After=network-online.target


[Container]
ContainerName=plex
EnvironmentFile=/var/lib/orches/repo/media/plex/.env
Image=lscr.io/linuxserver/plex:latest
Volume=/mnt/fast/configs/arr/plex:/config:Z
Volume=/mnt/slow/media:/media:Z
Network=media.network
AutoUpdate=registry
PublishPort=32400:32400/tcp
PublishPort=1900:1900/udp
PublishPort=3005:3005/tcp
PublishPort=5353:5353/udp
PublishPort=8324:8324/tcp
PublishPort=32410:32410/udp
PublishPort=32412:32412/udp
PublishPort=32413:32413/udp
PublishPort=32414:32414/udp
PublishPort=32469:32469/tcp

PublishPort=8181:8181

AddDevice=/dev/dri

[Service]
Restart=unless-stopped


[Install]
WantedBy=multi-user.target default.target