[Unit]
Description=Sabnzbd
After=network-online.target

[Container]
ContainerName=sabnzbd
EnvironmentFile=/var/lib/orches/repo/media/sabnzbd/.env
Image=lscr.io/linuxserver/sabnzbd:latest
Volume=/mnt/fast/configs/arr/sabnzb:/config:Z
Volume=/mnt/slow/media:/media:Z
PublishPort=8080:8080
Network=media.network
AutoUpdate=registry
UserNS=keep-id:uid=1000,gid=1000

[Service]
Restart=unless-stopped
X-Version=2


[Install]
WantedBy=multi-user.target default.target