
{

  cert_issuer acme {
    email bketelsen@gmail.com
  }

    on_demand_tls {
        ask http://example.com
    }
}
notes.ketelsen.cloud {
	reverse_proxy localhost:22300
}

request.ketelsen.cloud {
	reverse_proxy localhost:5055
}
paperless.ketelsen.cloud {
	reverse_proxy 10.0.1.57:8100
}

series.ketelsen.cloud {
	reverse_proxy localhost:8989
}

movies.ketelsen.cloud {
	reverse_proxy localhost:7878
}

prowlarr.ketelsen.cloud {
	reverse_proxy localhost:9696
}

nzb.ketelsen.cloud {
	reverse_proxy localhost:8080
}


code.ketelsen.cloud, *.code.ketelsen.cloud {
  reverse_proxy 10.0.1.57:7080
  tls {
        on_demand
      issuer acme {
         email bketelsen@gmail.com
      }
      }
}

